UI/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61430/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.DTO" />
  <xs:element name="getActualTour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getActualTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getActualTourResult" nillable="true" type="q1:ArrayOfToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotActualTour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getNotActualTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getNotActualTourResult" nillable="true" type="q2:ArrayOfToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q3:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getMyTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="getMyTourResult" nillable="true" type="q4:ArrayOfToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q5:CityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q6:CountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q7:HotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemImagesHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q8:ImagesHotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemImagesShowPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q9:ImagesShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemListClientShowInfoTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q10:ListClientShowInfoTourDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemListOfTouristBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q11:ListOfTouristBuyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemPerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q12:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemPointInTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q13:PointInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemResponsibleForTheTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q14:ResponsibleForTheToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemShowPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q15:ShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q16:ToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemWaysInTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q17:WaysInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItemWaysOfTransportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q18:WaysOfTransportationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllCitysResult" nillable="true" type="q19:ArrayOfCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllToursResult" nillable="true" type="q20:ArrayOfToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountry">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllCountryResult" nillable="true" type="q21:ArrayOfCountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllHotelsResult" nillable="true" type="q22:ArrayOfHotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagesHotels">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagesHotelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllImagesHotelsResult" nillable="true" type="q23:ArrayOfImagesHotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagesShowPlace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagesShowPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllImagesShowPlaceResult" nillable="true" type="q24:ArrayOfImagesShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListClientShowInfoTour">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListClientShowInfoTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllListClientShowInfoTourResult" nillable="true" type="q25:ArrayOfListClientShowInfoTourDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListOfTouristBuy">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllListOfTouristBuyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllListOfTouristBuyResult" nillable="true" type="q26:ArrayOfListOfTouristBuyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPerson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllPersonResult" nillable="true" type="q27:ArrayOfPersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPointInTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPointInToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllPointInToursResult" nillable="true" type="q28:ArrayOfPointInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponsibleForTheTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllResponsibleForTheToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllResponsibleForTheToursResult" nillable="true" type="q29:ArrayOfResponsibleForTheToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShowPlace">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShowPlaceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllShowPlaceResult" nillable="true" type="q30:ArrayOfShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWaysInTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWaysInToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllWaysInToursResult" nillable="true" type="q31:ArrayOfWaysInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWaysOfTransportation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllWaysOfTransportationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllWaysOfTransportationResult" nillable="true" type="q32:ArrayOfWaysOfTransportationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q33:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q34:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q35:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPersonOnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUniqueLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUniqueLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUniqueLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q36:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q37:CityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q38:CountryDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q39:HotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageHotels">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q40:ImagesHotelsDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImageShowPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q41:ImagesShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListClientShowInfoTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q42:ListClientShowInfoTourDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateListOfTouristBuy">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q43:ListOfTouristBuyDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePerson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q44:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePointInTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q45:PointInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponsibleForTheTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q46:ResponsibleForTheToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShowPlace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q47:ShowPlaceDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q48:ToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWaysInTours">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q49:WaysInToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWaysOfTransportation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q50:WaysOfTransportationDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>