UI/Connected Services/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BLL.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BLL.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityDTO" nillable="true" type="tns:CityDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityDTO" nillable="true" type="tns:ArrayOfCityDTO" />
  <xs:complexType name="CityDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="tns:CountryDTO" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDTO" nillable="true" type="tns:CityDTO" />
  <xs:complexType name="CountryDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="City" nillable="true" type="tns:ArrayOfCityDTO" />
      <xs:element minOccurs="0" name="CountryName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CountryDTO" nillable="true" type="tns:CountryDTO" />
  <xs:complexType name="ArrayOfToursDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ToursDTO" nillable="true" type="tns:ToursDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfToursDTO" nillable="true" type="tns:ArrayOfToursDTO" />
  <xs:complexType name="ToursDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IsDeleted" type="xs:boolean" />
      <xs:element minOccurs="0" name="MaxTourists" type="xs:int" />
      <xs:element minOccurs="0" name="Price" type="xs:int" />
      <xs:element minOccurs="0" name="StartDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TourName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ToursDTO" nillable="true" type="tns:ToursDTO" />
</xs:schema>