UI/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61430/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BLL.DTO" />
  <xs:import schemaLocation="http://localhost:61430/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/DAL" />
  <xs:element name="GetAllCitys">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCitysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllCitysResult" nillable="true" type="q1:ArrayOfCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="item" nillable="true" type="q2:CityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTours">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllToursResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetAllToursResult" nillable="true" type="q3:ArrayOfToursDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTour">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DAL" minOccurs="0" name="tours" nillable="true" type="q4:Tours" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTourResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="GetTourResult" nillable="true" type="q5:ArrayOfCityDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Registration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q6:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q7:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonOnline">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q8:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPersonOnlineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPersonOnlineResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUniqueLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUniqueLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUniqueLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BLL.DTO" minOccurs="0" name="person" nillable="true" type="q9:PersonDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>